---
layout: default
permalink: /games/
title: Games
---
<section class="games-page">
    <!-- TODO: What Am I Good At? -->
    <section class="about-me">
        <h1 class="about-me__name">
            Hi, I'm Jaiden
        </h1>
        <section class="headshot__container">
            <img class="headshot__img" src="/assets/images/headshot.jpg" alt="">
        </section>
        <section class="about-me__social-links">
            <a href="https://github.com/jaideng123">
                <i class="fab fa-github-square"></i>
            </a>
            <a href="/contact/">
                <i class="fas fa-envelope-square"></i>
            </a>
            <a href="https://twitter.com/JaidenG123">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://mastodon.gamedev.place/@JaidenG123" rel="me">
                <i class="fab fa-mastodon"></i>
            </a>
        </section>
    </section>
    <header class="games-header">
        <h1 class="games-header__title">
            I make games like these
        </h1>
    </header>
    <section class="projects">
        {% for game in site.categories.games %}
        <div class="project__container project__container--{{game.title | downcase}}" title="{{game.title}}">
            <h2 class="project__title">
                {% if game.displayTitle %}
                {{game.displayTitle}}
                {% else %}
                {{game.title}}
                {% endif %}
            </h2>
            <div>
                <a href="{{game.url}}">
                    <img class="project__preview-image" src="{{game.previewImage}}" alt="{{game.title}} Title Image" />
                </a>
            </div>
            <div class="project__preview-text">
                {{game.excerpt}}
            </div>
        </div>
        {% endfor %}
    </section>
</section>