---
layout: default
permalink: /games/
title: Games
---
<section class="games-page">
    <!-- TODO: Who am I ? -->
    <!-- TODO: What Am I Good At? -->
    <header class="games-header">
        <h1 class="games-header__title">
            Games I've Made
        </h1>
    </header>
    <section class="projects">
        {% for game in site.categories.games %}
        <a href="{{game.url}}" class="project__container project__container--{{game.title | downcase}}"
            title="{{game.title}}">
            {% if game.imageNeedsText %}
            <h2 class="hover-text">
                {{game.title}}
            </h2>
            {% endif %}
            <div class="project__overlay"></div>
        </a>
        {% endfor %}

    </section>
</section>