.blog-directory-page {
    max-width: 40rem;
    margin: 0 auto;
}

.blog-page {
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 5rem;

    & img {
        max-height: 500px;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    & img.header-img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        height: 300px;
    }
}

.blog-header {
    &__title {
        font-size: 3rem;
        margin: .2rem;
    }

    &__date {
        font-size: 1.5rem;
        margin: .2rem;
    }

    &__me {
        font-size: 1.5rem;
        margin: .2rem;

        & a {
            text-decoration: none;
        }

        & .my-name {
            font-size: 2rem;
        }

        & img {
            height: 2rem;
            width: 2rem;
        }
    }
}

.blog-page__content {
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* --- Post preview (feed) --- */

.posts-list {
    margin: 0;
}

.post-preview {
    padding: 1.25rem 0;
    border-bottom: 1px solid #bdbdbd;
    overflow: hidden;
}

@media (min-width: 768px) {
    .post-preview {
        padding: 2.1875rem 0;
    }
}

.post-preview:last-child {
    border-bottom: 0;
}

.post-preview a {
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    color: "#404040";
}

.post-preview a:focus,
.post-preview a:hover {
    text-decoration: none;

    color: "#0085A1";
}

.post-preview .post-title {
    font-size: 1.875rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.post-preview .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 0.625rem;
}

.post-preview .post-meta,
.post-heading .post-meta {
    color: #808080;
    font-size: 1.125rem;
    font-style: italic;
    margin: 0 0 0.625rem;
}

.post-heading .post-meta {
    display: inline-block;
}

@media (max-width: 767px) {
    .post-heading .post-meta {
        display: block;
        margin-bottom: 0;
    }
}

.post-heading .post-meta .middot {
    margin: 0 0.625rem;
}

.post-preview .post-entry {
    width: 100%;
}

.post-preview .post-entry img {
    max-height: 15rem;
}

.post-preview .post-image {
    float: right;
    margin-left: 0.625rem;
    height: 12rem;
    width: 12rem;
}

.post-preview .post-image {
    filter: grayscale(20%);
}

.post-preview .post-image:hover {
    filter: grayscale(0%);
}

.post-preview .post-image img {
    max-height: 100%;
    max-width: 100%;
}

.post-preview .post-image-short {
    margin-top: -2.1875rem;
}

@media (max-width: 767px) {
    .post-preview .post-image {
        height: 9rem;
        width: 9rem;
    }

    .post-preview .post-image-short {
        margin-top: 0;
    }
}

.post-preview .post-image-small {
    width: 100%;
    text-align: center;
}

.post-preview .post-image-small img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 500px) {
    .post-preview .post-image {
        display: none;
    }

    .post-preview .post-image-small {
        display: block;
    }
}

.post-preview .post-read-more {
    font-weight: 800;
}

@media (min-width: 768px) {
    .post-preview .post-title {
        font-size: 2.25rem;
        margin-bottom: .5rem;
    }
}

/* --- Pagination --- */

.pagination {
    margin: 0.625rem 0 0;
    justify-content: space-between;
}

.pagination.blog-pager {
    margin-top: 0;
}

.pagination .page-item.next {
    margin-left: auto;
}

@media (min-width: 768px) {
    .pagination.blog-pager {
        margin-top: 0.625rem;
    }
}

.pagination .page-item .page-link {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0.625rem 0.3125rem;
    background-color: #FFF;
    border-radius: 0;

    color: "#404040";
}

@media (min-width: 768px) {
    .pagination .page-item .page-link {
        padding: 0.9375rem 1.5625rem;
    }
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
    color: #FFF;

    border: 1px solid "#0085A1";

    background-color: "#0085A1";
}


/* --- Code blocks --- */

code {
    padding: 0.125rem 0.25rem;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 0.25rem;
}

pre code {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}

pre {
    font-size: 0.875rem;
    line-height: 1.5em;
    border-radius: 0.25rem;
    padding: 0.59375rem;
}

.highlight pre {
    border: none;
    background: none;
    margin: 0;
    line-height: 1rem;
}

.highlight>pre {
    background-image: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03) 1.5em, rgba(0, 0, 0, 0.02) 1.5em, rgba(0, 0, 0, 0.02) 3em);
    background-size: auto 3em;
    background-position-y: 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 0.4375rem solid #444;
}

.highlight>pre:not([class~="highlight"]) {
    /* code block with line number */
    padding: 0;
}

.highlight table,
.highlight tr,
.highlight td {
    /* to be removed after fixing table styles */
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.highlight pre.lineno {
    color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
    border-right: 2px solid #444;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.lineno {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lineno::selection,
.lineno::-moz-selection {
    background: none;
}

/* Fix table border github gist snippets */

.gist,
.gist-file table tr {
    border: unset;
}

.gist,
.gist-file table tr td {
    border: unset;
}


/* --- Tables --- */

table {
    padding: 0;
}

table tr {
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 0.375rem 0.8125rem;
}

table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 0.375rem 0.8125rem;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}