.games-page {
    max-width: 70rem;
    margin: 0 auto;
}

.headshot {
    &__container {
        text-align: center
    }

    &__img {
        border-radius: 50%;
        width: 10rem;
    }
}

.about-me {
    display: flex;
    flex-direction: column;

    &__name {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    &__social-links {
        text-align: center;
        font-size: 2rem;
        text-decoration: none;

        a {
            text-decoration: none;
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
}

.games-header {
    text-align: center;

    &__title {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: .5rem;

        &--smaller {
            font-size: 1.5rem;
        }
    }
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@mixin project-preview($preview-url) {
    background:
        // /* top, transparent red */ 
        // linear-gradient(
        // rgba(105, 105, 105, 0.3), 
        // rgba(105, 105, 105, 0.3)
        // ),
        /* bottom, image */
        url($preview-url) top;
    background-size: cover;
}

$project-container-width: 30rem;

.project {
    &__container {
        width: 30rem;
        margin: 2rem;
        text-align: center;
        background-size: cover;
        border-radius: 0.5rem;
        transition: transform .2s;
    }

    &__title {
        text-align: left;
        font-size: 2rem;
    }

    &__preview-image {
        width: 100%;
        height: 18rem;
        object-fit: cover;
        object-position: top;
        border-radius: 20px;
    }

    &__preview-text {
        text-align: left;

        p {
            margin: 0.5rem;
        }
    }
}

.hover-text {
    opacity: 0;
    transition: opacity .2s;
    color: whitesmoke;
    background-color: #0000007d;
    font-size: 2rem;
    position: absolute;
    // TODO: figure outa better way to do this
    width: $project-container-width;
}