
.games-page{
    max-width: 70rem;
    margin: 0 auto;
}

.headshot{
    &__container{
        text-align:center
    }

    &__img{
        border-radius: 50%;
        width:10rem;
    }
}

.about-me{
    display: flex;
    flex-direction: column;

    &__name{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0;
    }

    &__social-links{
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        a{
            text-decoration: none;
            margin-left:.5rem;
            margin-right:.5rem;
        }
    }
}

.games-header{
    text-align: center;
    &__title{
        font-size: 2rem;
    }
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@mixin project-preview($preview-url) {
    background: 
    // /* top, transparent red */ 
    // linear-gradient(
    // rgba(105, 105, 105, 0.3), 
    // rgba(105, 105, 105, 0.3)
    // ),
    /* bottom, image */
    url($preview-url)
    top;
    background-size: cover;
}
$project-container-width: 18rem;
.project{
    &__container{
        width:$project-container-width;
        height: 10rem;
        margin: 2rem;
        text-align:  center;
        background-size: cover;
        border-radius: 0.5rem;
        transition: transform .2s; /* Animation */
        &:hover{
            transform: scale(1.1);
            .hover-text{
                opacity: 1;
                height: auto;
            }
            .project__overlay{
                opacity: 0;
            }
        }
        &:focus{
            transform: scale(1.1);
            .hover-text{
                opacity: 1;
            }
            .project__overlay{
                opacity: 0;
            }
        }
        .project__overlay{
            z-index: 9;
            position: relative;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background: linear-gradient(rgba(105, 105, 105, 1), rgba(105, 105, 105, 1));
            transition: opacity .2s;
            border-radius: 0.5rem;
        }

        &--tritix{
            @include project-preview("/assets/images/Tritix/Tritix-Preview.png");
        }

        &--arrowball{
            @include project-preview("/assets/images/ArrowBall/ArrowBall-Preview.png");
        }

        &--mowmowmow{
            @include project-preview("/assets/images/MowMowMow/MowMowMow-Preview.png");
        }

        &--distanced{
            @include project-preview("/assets/images/Distanced/itch-header-image.png");
        }

        &--speedbutton{
            @include project-preview("/assets/images/SpeedButton/SpeedButton-Preview.png");
        }

        &--polterheist{
            @include project-preview("/assets/images/PolterHeist/cover.gif");
        }
        &:visited{
            color:black
        }
        text-decoration: none;
    }

    &__title{
        height: 100%;
        display: flex;
        justify-content: end;
        margin: 0;
        flex-direction: column-reverse;
        text-decoration: none;
    }
}

.hover-text{
    opacity: 0;
    transition: opacity .2s;
    color: whitesmoke;
    background-color: #0000007d;
    font-size: 2rem;
    position: absolute;
    // TODO: figure outa better way to do this
    width: $project-container-width;
}