html * {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F0EB;
    color: #262521;
}

.page-header {
    text-align: center;

    &__title {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    &__links {
        margin-top: .4rem;
        font-size: 1.2rem;
    }
}

// h1{
//     font-size: 2rem;
//     margin-top:1rem;
//     margin-bottom:1rem;
// }

// h2{
//     font-size: 1.5rem;
// }

/* Color Theme Swatches in Hex */
$Recycled-paper-texture-background-banner-1-hex: #26250F;
$Recycled-paper-texture-background-banner-2-hex: #8C8161;
$Recycled-paper-texture-background-banner-3-hex: #262521;
$Recycled-paper-texture-background-banner-4-hex: #F2F0EB;
$Recycled-paper-texture-background-banner-5-hex: #D9D6D2;