.homepage{
    display: flex;
    flex-direction: column;
}

.homepage-header{
    text-align: center;
    &__title{
        font-size: 10vw;
    }
}

.homepage-sub-header{
    display:flex;
    justify-content: space-evenly;
    .main-link{
        text-align: center;
        font-size: 3vw;
        &:visited{
            color:black
        }
        max-width: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}