.homepage{
    display: flex;
    flex-direction: column;
}

.homepage-header{
    text-align: center;
    &__title{
        font-size: 12vw;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

.homepage-sub-header{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .main-link{
        text-align: center;
        font-size: 1.7rem;
        color:black;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }
}