---
layout: default
---
<section class="game-page">
    <header class="game-header">
        <h1 class="game-header__title game-header__title--{{page.title | downcase}}">
            {{page.title}}
        </h1>
    </header>
    {% if page.screenshots and page.screenshots.size > 0 %}
    <section class="game-screenshots">
        {% for screenshot in page.screenshots %}
        <section class="game-screenshot__container">
            <a href="{{screenshot}}">
                <img class="game-screenshot__image" src="{{screenshot}}" alt="{{screenshot}}" />
            </a>
        </section>
        {% endfor %}
    </section>
    {% endif %}
    <!-- TODO: video? -->
    <section class="game-page__content">
        {{content}}
    </section>
</section>