---
layout: default
---
<header class="home-link__container">
    <a href="/games/" class="home-link">Back To Games</a>
</header>
<section class="game-page">
    <header class="game-header">
        <h1 class="game-header__title game-header__title--{{page.title | downcase}}">
            {{page.title}}
        </h1>
    </header>

    {% if page.videoID %}
    <section class="video-container">
        <iframe width="800" height="315" src="https://www.youtube.com/embed/{{page.videoID}}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    {% endif %}

    {% if page.screenshots and page.screenshots.size > 0 %}
    <section class="game-screenshots">
        {% for screenshot in page.screenshots %}
        <section class="game-screenshot__container">
            <a href="{{screenshot}}">
                <img class="game-screenshot__image" src="{{screenshot}}" alt="{{screenshot}}" />
            </a>
        </section>
        {% endfor %}
    </section>
    {% endif %}
    <section class="game-page__content">
        {{content}}
    </section>
</section>